.Star {
  font-size: 14px;
  font-weight: 400;
  padding: 2px 7px 2px 7px;
  width: max-content;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  color: var(--color-violet);
  border: solid 2px var(--color-violet);
}

.Star--darkMode {
  color: var(--color-dark-violet);
  border: solid 2px var(--color-dark-violet);
}
