.Star {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 10px 4px 10px;
  width: max-content;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  color: var(--color-white);
  background: var(--color-violet);
}

.Star--darkMode {
  color: var(--color-dark-white);
  background: var(--color-dark-violet);
}
