.Soft {
  transition: 200ms;
  display: flex;
  max-width: max-content;
  color: var(--color-violet);
}

.Soft--darkMode {
  color: var(--color-white);
}

.Soft__icon {
  font-size: 12px;
  margin: 2px 8px auto 0px;
}

.Soft__label {
  font-size: 14px;
  font-weight: 400;
}
