.Soft {
  transition: 200ms;
  display: flex;
  max-width: max-content;
}

.Soft__icon {
  font-size: 12px;
  margin: 2px 8px auto 0px;
  color: var(--color-violet);
}

.Soft__icon--darkMode {
  color: var(--color-dark-violet);
}

.Soft__label {
  color: var(--color-violet);
  font-size: 14px;
  font-weight: 400;
}

.Soft__label--darkMode {
  color: var(--color-dark-white);
}
