.SlideProject {
  width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: var(--color-grey);
  border-radius: 8px;
  text-decoration: none;
  position: relative;
}

.SlideProject:hover {
  .SlideProject__filter {
    opacity: 0.3;
  }
  .SlideProject__label {
    opacity: 1;
  }
}

.SlideProject--reversed {
  background: var(--color-white);
}

.SlideProject--darkMode {
  background: var(--color-dark-grey);
}

.SlideProject--darkMode--reversed {
  background: var(--color-dark-black);
}

.SlideProject__image {
  width: 100%;
  height: 160px;
  background-size: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin: 0px 0px 20px 0px;
  border-left: solid 1px var(--color-grey);
  border-right: solid 1px var(--color-grey);
}

.SlideProject__star {
  position: absolute;
  top: 130px;
  left: 10px;
}

.SlideProject__image--darkMode {
  border-left: solid 1px var(--color-dark-grey);
  border-right: solid 1px var(--color-dark-grey);
}

.SlideProject__filter {
  position: absolute;
  width: 100%;
  height: 160px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: var(--color-violet);
  opacity: 0;
}

.SlideProject__filter--darkMode {
  background: var(--color-dark-violet);
}

.SlideProject__label {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translate(-50%);
  opacity: 0;
}

.SlideProject__title {
  margin: 0px 20px 20px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.SlideProject__technos {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px 20px 20px;
  gap: 10px;
}

.SlideProject__tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px 20px 20px;
  gap: 10px;
}
