.Client {
  background: var(--color-grey);
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.Client--reversed {
  background: var(--color-white);
}

.Client--darkMode {
  background: var(--color-dark-grey);
}

.Client--darkMode--reversed {
  background: var(--color-dark-black);
}

.Client__logo {
  width: 50px;
  margin: 0px auto 0px auto;
}

.Client__name {
  margin: 0px auto 10px auto;
}

.Client__tags {
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
