.Action {
  height: 200px;
  border-radius: 8px;
  display: flex;
  position: relative;
  overflow: hidden;
  border: solid 1px var(--color-grey);
  background: var(--color-white);
}

.Action--darkMode {
  border: solid 1px var(--color-dark-grey);
  background: var(--color-dark-white);
}

.Action:hover {
  .Action__image {
    width: 210%;
  }
}

.Action__image {
  width: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(010deg);
  filter: grayscale(0.5);
}

.Action__image--darkMode {
  filter: brightness(0.8) contrast(1.2);
}

.Action__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
