.Carousel {
  width: 100%;
  display: flex;
}

.Carousel__container {
  margin: 0px auto 0px auto;
  width: 1260px;
}

@media screen and (max-width: 1420px) {
  .Carousel__container {
    width: 940px;
  }
}

@media screen and (max-width: 1100px) {
  .Carousel__container {
    width: 620px;
  }
}

@media screen and (max-width: 780px) {
  .Carousel__container {
    width: 310px;
  }
}

.CarouselArrow::before {
  color: var(--color-violet) !important;
  font-size: 30px !important;
  transition: 200ms !important;
}

.CarouselArrow--darkMode::before {
  color: var(--color-dark-white) !important;
}

.CarouselArrow--prev {
  left: calc(50% - 41px) !important;
  top: 420px !important;
}

.CarouselArrow--next {
  left: calc(50% - 2px) !important;
  top: 420px !important;
}
