.SectionProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .SectionProfile {
    flex-direction: column;
    gap: 40px;
  }
}

.SectionProfile__container {
  width: 30%;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__container {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .SectionProfile__container {
    width: 90%;
  }
}

.SectionProfile__container--left,
.SectionProfile__container--center {
  flex-direction: column;
}

.SectionProfile__container--right {
  justify-content: center;
  gap: 40px;
}

@media screen and (max-width: 600px) {
  .SectionProfile__container--right {
    gap: 20px;
  }
}

.SectionProfile__title {
  margin: 0px 0px 40px 0px;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__title {
    margin: 0px auto 40px auto;
    text-align: center;
  }
}

.SectionProfile__description {
  margin: 0px 0px 20px 0px;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__description {
    text-align: center;
  }
}

.SectionProfile__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__tags {
    margin: 0px auto 0px auto;
  }
}

.SectionProfile__image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-size: cover;
  margin: 20px auto 20px auto;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__image {
    margin: 0px auto 20px auto;
  }
}

.SectionProfile__link {
  margin: 0px auto 0px auto;
}

.SectionProfile__technos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.SectionProfile__softs {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
