.SectionProfile {
  display: flex;
  justify-content: center;
}

.SectionProfile__container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__container {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .SectionProfile__container {
    width: 90%;
  }
}

.SectionProfile__container__left {
  width: 500px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__container__left {
    width: 100%;
    margin: 0px 0px 40px 0px;
    text-align: center;
  }
}

.SectionProfile__container__center {
  width: 300px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__container__center {
    width: 50%;
  }
}

@media screen and (max-width: 620px) {
  .SectionProfile__container__center {
    width: 100%;
    margin: 0px 0px 40px 0px;
  }
}

.SectionProfile__container__right {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__container__right {
    width: 50%;
    align-items: center;
  }
}

@media screen and (max-width: 620px) {
  .SectionProfile__container__right {
    width: 100%;
  }
}

.SectionProfile__title {
  margin: 0px 0px 40px 0px;
}

.SectionProfile__description {
  margin: 0px 0px 20px 0px;
}

.SectionProfile__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__tags {
    justify-content: center;
  }
}

.SectionProfile__portrait {
  margin: 0px auto 20px auto;
}

.SectionProfile__linky {
  margin: 0px auto 0px auto;
}

.SectionProfile__technos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}

@media screen and (max-width: 1100px) {
  .SectionProfile__technos {
    align-items: start;
  }
}

@media screen and (max-width: 620px) {
  .SectionProfile__technos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
