* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 200ms;
}

:root {
  --color-black: #23253b;
  --color-grey: #f5f5fa;
  --color-white: #ffffff;
  --color-violet: #484d7a;
  --color-green: #8bbeb2;
  --color-red: #e90a96;

  --color-dark-black: #23272a;
  --color-dark-grey: #2c2f33;
  --color-dark-white: #faf0e6;
  --color-dark-violet: #5865f2;
  --color-dark-green: #57f287;
  --color-dark-red: #eb459e;
}
