.City {
  display: flex;
  gap: 3px;
}

.City__icon {
  color: var(--color-green);
}

.City__icon--darkMode {
  color: var(--color-dark-green);
}

.City__label {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
}

.City__label--darkMode {
  color: var(--color-dark-white);
}
