.SectionPortrait {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .SectionPortrait {
    flex-direction: column;
    gap: 30px;
  }
}

.SectionPortrait__container__title {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1100px) {
  .SectionPortrait__container__title {
    width: 600px;
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .SectionPortrait__container__title {
    width: 90%;
  }
}

.SectionPortrait__container__portrait {
  width: 300px;
  justify-content: right;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .SectionPortrait__container__portrait {
    width: 600px;
    justify-content: center;
  }
}

@media screen and (max-width: 620px) {
  .SectionPortrait__container__portrait {
    width: 90%;
  }
}

.SectionPortrait__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 1100px) {
  .SectionPortrait__tags {
    justify-content: center;
  }
}
