.Field {
  display: flex;
  flex-direction: column;
}

.Field__label {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-violet);
  margin: 0px 0px 20px 0px;
}

.Field__label--darkMode {
  color: var(--color-dark-white);
}

.Field__icon {
  font-size: 12px;
  margin: 0px 10px 0px 0px;
  color: var(--color-violet);
}

.Field__icon--darkMode {
  color: var(--color-dark-green);
}

.Field__required {
  color: var(--color-red);
}

.Field__required--darkMode {
  color: var(--color-dark-red);
}

.Field__error {
  font-size: 18px;
  font-weight: 200;
  color: var(--color-red);
  margin: 0px 0px 0px 4px;
  opacity: 0;
}

.Field__error--display {
  opacity: 1;
}

.Field__error--darkMode {
  color: var(--color-dark-red);
}

.Field__input {
  border: 0px;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  background: var(--color-grey);
  color: var(--color-violet);
  font-family: var(--font-rubik);
}

.Field__input::placeholder {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.3;
  color: var(--color-violet);
  font-family: var(--font-rubik);
}

.Field__input:focus {
  outline: none;
}

.Field__input--reversed {
  background: var(--color-white);
}

.Field__input--darkMode {
  background: var(--color-dark-grey);
  color: var(--color-dark-white);
}

.Field__input--darkMode::placeholder {
  color: var(--color-dark-white);
}

.Field__input--darkMode--reversed {
  background: var(--color-dark-black);
  color: var(--color-dark-white);
}

.Field__input--darkMode--reversed::placeholder {
  color: var(--color-dark-white);
}
