.SectionNotFound {
  height: calc(100vh - 400px);
  display: flex;
}

@media screen and (max-width: 620px) {
  .SectionNotFound {
    height: calc(100vh - 300px);
    display: flex;
  }
}

.SectionNotFound__container {
  margin: auto auto auto auto;
  display: flex;
  flex-direction: column;
}

.SectionNotFound__portrait {
  margin: 0px auto 20px auto;
}

.SectionNotFound__title {
  margin: 0px auto 20px auto;
}

.SectionNotFound__link {
  margin: 0px auto 0px auto;
}
