.SectionExperience {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .SectionExperience {
    flex-direction: column;
    align-items: center;
  }
}

.SectionExperience__container__client {
  width: 200px;
}

@media screen and (max-width: 1100px) {
  .SectionExperience__container__client {
    width: 600px;
    align-items: left;
    margin: 0px 0px 20px 0px;
  }
}

@media screen and (max-width: 620px) {
  .SectionExperience__container__client {
    width: 90%;
  }
}

.SectionExperience__container__infos {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1100px) {
  .SectionExperience__container__infos {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .SectionExperience__container__infos {
    width: 90%;
  }
}

.SectionExperience__container__info {
  background: var(--color-grey);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.SectionExperience__container__info--reversed {
  background: var(--color-white);
}

.SectionExperience__container__info--darkMode {
  background: var(--color-dark-grey);
}

.SectionExperience__container__info--darkMode--reversed {
  background: var(--color-dark-black);
}

.SectionExperience__title {
  margin: 0px 0px 40px 0px;
}

.SectionExperience__city {
  margin: 0px 0px 20px 0px;
}

.SectionExperience__date {
  margin: 0px 0px 20px 0px;
}

.SectionExperience__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px 0px 20px 0px;
}

.SectionExperience__softs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.SectionExperience__paragraph {
  margin: 0px 0px 20px 0px;
}
