.SectionSkills {
  display: flex;
  flex-direction: column;
}

.SectionSkills__container__title2 {
  display: flex;
  width: 1000px;
  margin: 0px auto 20px auto;
}

@media screen and (max-width: 1100px) {
  .SectionSkills__container__title2 {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .SectionSkills__container__title2 {
    width: 90%;
  }
}

.SectionSkills__container__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto 0px auto;
  width: 1000px;
}

@media screen and (max-width: 1100px) {
  .SectionSkills__container__list {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .SectionSkills__container__list {
    width: 90%;
  }
}

.SectionSkills__list {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 40px 0px 0px 0px;
}

@media screen and (max-width: 1100px) {
  .SectionSkills__list {
    width: 50%;
  }
}

@media screen and (max-width: 620px) {
  .SectionSkills__list {
    width: 100%;
  }
}

.SectionSkills__title3 {
  margin: 0px 0px 40px 0px;
}

.SectionSkills__row {
  display: flex;
  width: 200px;
  height: 28px;
  margin: 0px 0px 10px 0px;
}

.SectionSkills__element {
  margin: auto auto auto 0px;
}

.SectionSkills__star {
  color: var(--color-violet);
  font-size: 8px;
  margin: auto 5px auto 0px;
}

.SectionSkills__star--darkMode {
  color: var(--color-dark-white);
}
