.Linky {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-violet);
  background: var(--color-grey);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  width: max-content;
}

.Linky--reversed {
  background: var(--color-white);
}

.Linky:hover,
.Linky--reversed:hover {
  background: var(--color-violet);
  color: var(--color-white);
}

.Linky--darkMode {
  color: var(--color-dark-white);
  background: var(--color-dark-grey);
}

.Linky--darkMode--reversed {
  color: var(--color-dark-white);
  background: var(--color-dark-black);
}

.Linky--darkMode:hover,
.Linky--darkMode--reversed:hover {
  background: var(--color-dark-violet);
  color: var(--color-dark-white);
}
