.HeaderMobil {
  position: fixed;
  top: 0px;
  height: 50px;
  background: var(--color-black);
  width: 100%;
  z-index: 99;
  display: flex;
}

.HeaderMobil--darkMode {
  background: var(--color-dark-white);
}

.HeaderMobil--displayMenu {
  position: fixed;
  height: 100vh;
  width: 300px;
  flex-direction: column;
}

@media (min-width: 621px) {
  .HeaderMobil {
    display: none;
  }
}

.HeaderMobil__hamburger {
  font-size: 30px;
  color: var(--color-white);
  cursor: pointer;
  margin: 9px 0px 0px 10px;
}

.HeaderMobil__hamburger--darkMode {
  color: var(--color-dark-black);
}

.HeaderMobil__navs {
  display: none;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0px 0px 40px;
}

.HeaderMobil__navs--displayMenu {
  display: flex;
}

.HeaderMobil__icon {
  font-size: 40px;
  color: var(--color-white);
}

.HeaderMobil__icon--darkMode {
  color: var(--color-dark-black);
}

.HeaderMobil__icons {
  display: none;
  font-size: 20px;
  color: var(--color-white);
  margin: 50px 0px 0px 40px;
  gap: 10px;
}

.HeaderMobil__icons--displayMenu {
  display: flex;
}

.HeaderMobil__toogle {
  margin: 15px 10px 0px auto;
}

.HeaderMobil__toogle--displayMenu {
  margin: 45px 0px 0px 40px;
}
