.HeaderDesktop {
  position: fixed;
  top: 0px;
  height: 50px;
  display: flex;
  width: 100%;
  z-index: 99;
  background: var(--color-black);
  display: flex;
  gap: 20px;
}

.HeaderDesktop--darkMode {
  background: var(--color-dark-header);
}

@media (max-width: 620px) {
  .HeaderDesktop {
    display: none;
  }
}

.HeaderDesktop__logo {
  font-size: 30px;
  color: var(--color-white);
  margin: 10px 20px auto 50px;
}

@media screen and (max-width: 720px) {
  .HeaderDesktop__logo {
    margin: 10px 0px auto 20px;
  }
}

.HeaderDesktop__logo--darkMode {
  color: var(--color-dark-white);
}

.HeaderDesktop__nav {
  margin: auto 20px auto 0px;
}

@media screen and (max-width: 720px) {
  .HeaderDesktop__nav {
    margin: auto 15px auto 0px;
  }
}

.HeaderDesktop__icon {
  font-size: 20px;
  color: var(--color-white);
  margin: 16px 0px auto 0px;
}

.HeaderDesktop__icon--darkMode {
  color: var(--color-dark-white);
}

.HeaderDesktop__toogle {
  margin: 15px 50px auto auto;
}

@media screen and (max-width: 720px) {
  .HeaderDesktop__toogle {
    margin: 15px 20px auto auto;
  }
}
